
<div class=" page-header container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-9 clearfix d-flex align-items-center justify-content-start flex-wrap">
                <img class="img-fluid ml-n3  logo" src=".../../../../assets/images/pharmsite_logo.png" alt="Italian Trulli">
            <span class="sub-brand ml-2 text-white">
                Competitve Intelligence (CI) Gateway
            </span>
        </div>
        <div class="col-md-4 col-xs-3 clearfix f-60 d-flex align-items-center justify-content-end">
                <div class="float-right dropdown-toggle mr-3 text-white" data-toggle="dropdown"><i class="fa fa-user mr-2"></i>Hi, {{userDetail.name}} </div>
                <div class="dropdown-menu">
                        <a class="dropdown-item small-size pointer" [routerLink]="['/login']"><span class="mx-2"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</span></a>
                      </div>  
            </div>

    
    </div>
</div>

