<div class="login">
    <app-header></app-header>
    <div class="container-fluid p-0 page-content">
        <div class="row h-100">
            <div class="col-md-2 col-sm-12 p-0">
                <nav class="navbar h-100 mt-0">
                        
                    <!-- Links -->
                    <ul class="navbar-nav accordion mt-5" id="accordionExample">
                            <li class=" nav-item sidebar-dropdown p-2">
                                    <span data-toggle="collapse" class="bold" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-plus" aria-hidden="true"></i> Indication</span>
                                    <ul  id="collapseOne" class="collapse" Namearia-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                        <li  class="list-unstyled light " *ngFor="let indication of indication;let i =index">
                                            <input type="checkbox"   [id]="'indication'+i"
                                            [name]="'indication'+i"
                                            [(ngModel)]="indication.selected"
                                            value="indication.IndicationName" (change)="selected('indication')"> {{indication.IndicationName}}</li>
                                    </ul>
                                </li>
                                <li class=" nav-item sidebar-dropdown p-2">
                                        <span data-toggle="collapse" class="bold" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo"><i class="fa fa-plus" aria-hidden="true"></i> MOA</span>
                                        <ul  id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                                                data-parent="#accordionExample">
                                            <li  class="list-unstyled light " *ngFor="let moa of moa;let i =index">
                                                <input type="checkbox" [id]="'moa'+i"
                                                [name]="'moa'+i"
                                                [(ngModel)]="moa.selected"
                                                value="moa.MOAName" (change)="selected('moa')"> {{moa.MOAName}}</li>
                                        </ul>
                                    </li>
                                    <li class=" nav-item sidebar-dropdown p-2">
                                            <span data-toggle="collapse" class="bold" data-target="#collapseThree"
                                            aria-expanded="true" aria-controls="collapseThree"><i class="fa fa-plus" aria-hidden="true"></i> Product</span>
                                            <ul  id="collapseThree" class="collapse " aria-labelledby="headingThree"
                                                    data-parent="#accordionExample">
                                                <li  class="list-unstyled light " *ngFor="let product of product;let i =index">
                                                    <input type="checkbox" [id]="'product'+i"
                                                    [name]="'product'+i"
                                                    [(ngModel)]="product.selected"
                                                    value="product.ProductName" (change)="selected('product')"> {{product.ProductName}}</li>
                                            </ul>
                                        </li>
                                        <li class=" nav-item sidebar-dropdown p-2">
                                                <span data-toggle="collapse" class="bold" data-target="#collapseFour"
                                                aria-expanded="true" aria-controls="collapseFour"><i class="fa fa-plus" aria-hidden="true"></i> Company</span>
                                                <ul  id="collapseFour" class="collapse " aria-labelledby="headingFour"
                                                        data-parent="#accordionExample">
                                                    <li  class="list-unstyled light " *ngFor="let company of company;let i =index">
                                                        <input type="checkbox" [id]="'company'+i"
                                                        [name]="'company'+i"
                                                        [(ngModel)]="company.selected"
                                                        value="company.CompanyName" (change)="selected('company')"> {{company.CompanyName}}</li>
                                                </ul>
                                            </li>
                                            <li class=" nav-item sidebar-dropdown p-2">
                                                    <span data-toggle="collapse" class="bold" data-target="#collapseFive"
                                                    aria-expanded="true" aria-controls="collapseFive"><i class="fa fa-plus" aria-hidden="true"></i> Status</span>
                                                    <ul  id="collapseFive" class="collapse " aria-labelledby="headingFive"
                                                            data-parent="#accordionExample">
                                                        <li  class="list-unstyled light " >
                                                            <input type="checkbox" [id]="save"
                                                            [name]="save" [(ngModel)]="isChecked"
                                                                (change)="selected (isChecked?'Saved':'unSaved')"> Saved</li>
                                                            <li class="list-unstyled light wrap" >
                                                                <input type="checkbox" [id]="published" [(ngModel)]="isChecked1"
                                                                [name]="published"
                                                                value="published" (change)="selected(isChecked1?'Published':'unPublished')"> Published</li>
                                                    </ul>
                                                </li>
                                                <li class=" nav-item sidebar-dropdown p-2">
                                                    <span data-toggle="collapse" class="bold" data-target="#collapseSix"
                                                    aria-expanded="true" aria-controls="collapseSix"><i class="fa fa-plus" aria-hidden="true"></i> Duration</span>
                                                    <ul  id="collapseSix" class="collapse " aria-labelledby="headingSix"
                                                            data-parent="#accordionExample">
                                                            <li  class="list-unstyled light" >
                                                                <input type="radio" [id]="day"
                                                                    [name]="day" [checked]="true"
                                                                    (change)="selected('All')"> All Days</li>
                                                        <li  class="list-unstyled light" >
                                                            <input type="radio" [id]="day"
                                                                [name]="day"
                                                                (change)="selected('Day')"> 24 Hours</li>
                                                            <li class="list-unstyled light">
                                                                <input type="radio" [id]="day"   [name]="day"
                                                                 (change)="selected('Week')"> 1 Week</li>
                                                                <li class="list-unstyled light " >
                                                                    <input type="radio" [id]="day"  [name]="day"
                                                                    (change)="selected('Month')"> 1 Month</li>
                                                                    <li class="list-unstyled light" >
                                                                        <input type="radio" [id]="day"  [name]="day"
                                                                        (change)="selected('Year')"> 1 Year</li>
                                                    </ul>
                                                </li>
                    </ul>

                </nav>
            </div>
            <div class="col-lg-4 col-sm-12  col-md-12 newsTitleContainer border-md-right scroll">
                <!-- <button class="btn-primary  float-right m-3 p-1 rounded" data-toggle="modal" data-target="#myModal">Compose</button> -->
                <i class="fa fa-edit float-right clearfix my-2" data-toggle="modal" data-target="#myModal" (click)="prefilled = false"></i>
                <div class="clearfix"></div>

                <ul class="newsList list-unstyled row" >
                    <li class="border-bottom w-100 p-2 pt-0 m-0 col-12" *ngFor="let new of news; let i = index">
                        <div class="row no-gutters" (dblclick)="DoubleClick()" id="link">
                            <div class="col-10 mx-3" (click)="heading(new)" >
                                <div class="titleHeading">{{new?.title}}</div>
                                <div class="newsEditorContent" [innerHtml]='new?.body'>
                                </div>
                            </div>
                            <div class="col-auto click ml-auto text-right">
                                <span class="fa fa-star-o" (click)="toggle(singleNews.id)" #singleNews [id]="'news_'+i"></span>
                            </div>
                        </div>
                    </li>

                </ul>


            </div>
            <div class="col-6 scroll">
                <div class="header border-bottom my-3" *ngIf="newsSelected">
                    <div class="row m-3">
                        {{newsSelected.title}}
                    </div>
                    <div class="row w-100 d-table">
                         <span class="createdBy mx-3 d-table-cell  float-left" *ngIf="newsSelected">Created By: {{newsSelected.CreatedBy.Name}}</span>
                        <span class="createdBy  d-table-cell  float-right" *ngIf="newsSelected">Created At: {{newsSelected.createdAt | date:'medium'}}</span>
                    </div>
                </div>
                <div class="clearfix">
                    <ul class="list-unstyled mb-1 ml-3 pull-right" *ngIf="newsSelected">
                        <li class="mt-2">
                            <i class="fa fa-pencil" (click)="openInEditMode(newsSelected)"></i>
                        </li>
                        <li class="mt-2">
                            <i class="fa fa-trash" (click)="delete(newsSelected)"></i>
                        </li>
                    </ul>
                    <div [innerHtml]="newsSelected?.body" class="text-small d-inline"></div>
                </div>
            </div>
        </div>
    </div>
   
</div>



<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Compose</h4>
                <button type="button" #closeUpdateUserModal class="close" data-dismiss="modal" (click)="prefilled=false">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <form  #form="ngForm">
                            <div class="form-group f-70">
                                <label>Title</label>
                                <input type="text" ngModel class="form-control" id="title" name="title" value="{{prefilled? prefilledData.title:''}}" required>
                            </div>

                            <div class="form-group f-70">
                                    <label>Body</label>
                                   <app-tiny-editor (open)="fetchData($event)" [prefilledValue]="prefilled?prefilledData.body:''"></app-tiny-editor>
                            </div>

                            <div class="form-group f-70">
                                <label>Source</label>
                                <input type="text" ngModel class="form-control" id="source" name="source" value="{{prefilled? prefilledData.source:''}}">
                            </div>
                            
                            <div class="text-center">
                            <button type="button" class="btn btn-success align-center f-70" (click)="save(form,'save')">Save</button>
                            <button type="button"  class="btn btn-success mx-2 f-70" (click)="save(form,'publish')">Publish</button>
                        </div>
                        </form>
                    </div>
                    <div class="col-4 f-70">
                        <form>
                            <label class="mt-2"><strong>Indication</strong> </label>
                            <div class="scroll">
                                <div *ngFor="let indication of indication; let idx = index">
                                    <input type="radio" name="Indication" [value]="indication._id"  [checked]="prefilled? prefilledData?.indication === indication._id : idx === 0" 
                                        (change)="fetchValue(indication,'indication')">
                                    {{indication.IndicationName}}<br>
                                </div>
                            </div>
                            <label class="mt-2"><strong>Moa</strong> </label>
                            <div class="scroll">
                                <div *ngFor="let moa of moa;let idx = index">
                                    <input type="radio" name="Moa" [value]="moa._id"  [checked]="prefilled? prefilledData?.moa === moa._id : idx === 0" 
                                        (change)="fetchValue(moa,'moa')">{{moa.MOAName}}<br>
                                </div>
                            </div>
                            <label class="mt-2"><strong>Product</strong> </label>
                            <div class="scroll">
                                <div *ngFor="let product of product;let idx = index">
                                    <input type="radio" name="product" [value]="product._id"  [checked]="prefilled? prefilledData?.product === product._id : idx === 0" 
                                        (change)="fetchValue(product,'product')"> {{product.ProductName}}<br>
                                </div>
                            </div>
                            <label class="mt-2"><strong>Originated Company</strong> </label>
                            <div class="scroll">
                                <div *ngFor="let company of company;let idx = index">
                                    <input type="radio" name="company" [value]="company._id"  [checked]="prefilled? prefilledData?.originatedCompany === company._id : idx === 0" 
                                        (change)="fetchValue(company,'Ocompany')"> {{company.CompanyName}}<br>
                                </div>
                            </div>
                            <label class="mt-2"><strong>Licencee Company</strong> </label>
                            <div class="scroll">
                                <div *ngFor="let company of company;let idx = index">
                                    <input type="radio" name="Lcompany" [value]="company._id" [checked]="prefilled? prefilledData?.licenceeCompany === company._id : idx === 0" 
                                        (change)="fetchValue(company,'Lcompany')"> {{company.CompanyName}}<br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>

<div class="modal" id="newsModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header pb-0">
                <h4 class="modal-title text-left w-100">
                    {{newsSelected?.title}}
                    <div class="row justify-content-between mt-2">
                        <span class="createdBy col-auto" *ngIf="newsSelected">Created By: {{newsSelected?.CreatedBy.Name}}</span>
                        <span class="createdBy col-auto" *ngIf="newsSelected">Created At: {{newsSelected?.createdAt | date:'medium'}}</span>
                    </div>
                </h4>
                <button type="button" #closeUpdateUserModal class="close" data-dismiss="modal" >&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                    <!-- <div class="float-right rounded" *ngIf="newsSelected"><i class="fa fa-pencil"></i></div>
                    <div class="clearfix"></div> -->
                <div [innerHtml]="newsSelected?.body" class="text-small"></div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>